<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
<h3>Информация о пользователе</h3>
<div th:text="${'id: '+person.getId()}"></div>
<div th:text="${'Имя: '+person.getName()}"></div>
<div th:text="${'Год рождения: '+person.getYear()}"></div>
<br/>
<div th:if="${bookList.size() < 1}">Этот человек еще не взял ни одной книги</div>
<div th:if="${bookList.size() >= 1}">
    <div>Человек взял следующие книги: </div>
    <div th:each="book : ${bookList}">
        <a th:href="@{/books/{id}(id=${book.getBookId()})}"
           th:text="${book.getName()+', '+book.getAuthor()}"></a>
        <span th:if="${book.isLate()}" style="color:red;"> Книга просрочена</span>
    </div>
</div>
<br/>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Редактировать</a>
<br/>
<form th:action="@{/people/{id}(id=${person.getId()})}" th:method="delete">
    <input type="submit" value="Удалить">
</form>
<br/>
<a href="/people">Назад</a>
</body>
</html>